:host ::ng-deep {
  app-button {
    button {
      width: 100%;
    }
  }
}

.login-form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .login-input {
    > label, input {
      display: block;
    }

    > label {
      margin: .5rem 0;
    }

    > input {
      width: 100%;
    }
  }
}
